# Python
__pycache__
.pyc
.pyo

# Virtual environment
venv
.venv

# Environment variables
.env

# Airflow
airflowlogs
logs
.airflow

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db