AIRFLOW_UID=1000
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=change_me
AIRFLOW_POSTGRES_DB=airflow
ECOMMERCE_POSTGRES_USER=postgres
ECOMMERCE_POSTGRES_PASSWORD=change_me
ECOMMERCE_POSTGRES_DB=ecommerce
ECOMMERCE_POSTGRES_HOST=ecommerce-postgres
ECOMMERCE_POSTGRES_PORT=5432